---
layout: microbanner
title: Our Design
---
<section class="SPBanerSec SPBanerSecServ">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="SpBanerSingle">
                    <h2>Services</h2>
                    <p>Whether you need an exquisite website or ingenious app, <br>
                    the team at MicorTech delivers it all from initial idea to final implementation.</p>
                    <div class="slideBtn">
                        <a href="./design.html">Work with us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include sec_design_tab.html %}
{% include sec_design_slider.html %}
<!-- {% include request_btn.html %} -->
{% include sec_beforeafter.html %}
{% include sec_designsliderthree.html %}
<section class="DiscusButtonSec">
    {% include sec_discuss.html %}
    <!--     {% include sec_recognized.html %} -->
    {% include sec_signup.html %}
</section>